<h1>Blog Post</h1>
<h4>Titulo: <%= @blog_post.title %></h4>
<p>Texto: <%= @blog_post.body %></p>
<p>Data publicação: <%= @blog_post.published_at %></p>
<%= link_to "Edit Blog Post", edit_blog_post_path(@blog_post) if user_signed_in? %>